
<section class="am_hotelList__container">
  <article class="am_resultSection__item">
      <div class="am_resultSection__item_imageContainer">
          <img src="./assets/img/hotel.jpg" alt="">
      </div>
      <div class="am_resultSection__item_information">
          <h4>{{simpleInput_String}}</h4>
          <div>★★★</div>
          <div>solo habitacion</div>
          <div>
              <span>★</span>
              <span>★</span>
              <span>★</span>
              <span>★</span>
          </div>
      </div>
      <div class="am_resultSection__item_priceData">
          <div class="am_resultSection__priceData_priceBy">Precio por noche por habitacion</div>
          <div class="am_resultSection__priceData_amount">
              <span class="am_resultSection__priceData_amount"></span>
              <span class="am_resultSection__priceData_amount"></span>
          </div>
          <div class="am_resultSection__priceData_tax">inpuestos y tasas no incluidos</div>
          <button class="am_resultSection__priceData">Ver hotel</button>
          <div class="am_resultSection__priceData_payType">
              <div>Pagá en cuotas</div>
              <div>Pagá en destino</div>
          </div>
      </div>
  </article>
</section>
