<header class="am_header">
  <div>
    <div class="am_header__container">
      <div class="al_header__brand">
          <span class="am_logo__container"><img src="assets/logo-almundo.svg" alt="" class="am_logo__image"></span>
      </div>
      <div class="am_header__principalMenu">
          <ul>
            <li class="am_header__principalMenu_item">
                <span class="am_icon__user">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <span class="am_displayOnMobile--hidde">Ingresar</span>
            </li>
            <li class="am_header__principalMenu_item am_displayOnMobile--hidde">
                Sucursales
            </li>
            <li class="am_header__principalMenu_item am_displayOnMobile--hidde">
                Club almundo
            </li>
            <li class="am_header__principalMenu_item">
                <span class="am_icon__user">
                  <i class="fa fa-phone am_displayOnMobile--visible" aria-hidden="true"></i>
                </span>
                <span class="am_displayOnMobile--hidde">Llamans</span>
            </li>
            <li class="am_header__principalMenu_item am_displayOnMobile--hidde">
                ayuda
            </li>
          </ul>
          <span class="am_header__principalMenu_button am_displayOnMobile--visible">
              <button class="hamburger">&#9776;</button>
          </span>
        </div>
    </div>
  </div>

  <!-- nevegation -->
  <app-nav></app-nav>

</header>
