<section class="am_searchSection__container am_displayOnMobile--row">
    <h3 class="am_searchSection__title am_displayOnMobile--hidde">Hoteles disponibles para</h3>
    <div>
      <div class="am_searchSection__parameters am_displayOnMobile--hidde">
          <span class="am_searchSection__parameters am_searchSection__parameters_location">
              <span>❤</span>
              <span>madrid</span>
          </span>
          <span class="am_searchSection__parameters am_searchSection__parameters_startDaten">
              <span>❤</span>
              <span>16/11/2016</span>
          </span>
          <span class="am_searchSection__parameters am_searchSection__parameters_endDate">
              <span>❤</span>
              <span>30/11/2016</span>
          </span>
          <span class="am_searchSection__parameters am_searchSection__parameters_clientQuantity">
              <span>☺</span>
              <span>2 huespedes</span>
          </span>
      </div>
      <a href="#">Modificar Búsqueda</a>
    </div>
</section>
